<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button color="tertiary" (click)="helloToast()">HELLO</ion-button>
  <ion-button color="tertiary" (click)="logOut()">LOG OUT</ion-button>
  <ion-button color="tertiary" id="trigger-button">ABOUT</ion-button>
  <ion-popover trigger="trigger-button">
  <ng-template>
    <ion-content class="ion-padding">Hello, {{username}}! Welcome to my app! <br>
    My name is <b style="color: rgb(0, 0, 0);">Andrew James M. Villegas</b>, feel free to roam in the page! </ion-content>
  </ng-template>
  </ion-popover>
  <div id ="opening"style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align:center;">
  4 schools that has the word <br> <b style="color:rgb(95, 0, 248); font-size: large;">PHILIPPINES</b> <br> in their name
  </div>
  
  <ion-searchbar></ion-searchbar>
  <div *ngFor = "let school of schools; let i = index">
    <div *ngIf = "i < 4">
    <ion-card>
      <img alt="sample picture" src="https://plvnw.files.wordpress.com/2018/02/cropped-27356370_10157167537998378_3936689365366675803_o1.jpg" />
<ion-card-header color="tertiary" text-align="left">
        {{school.name}} ({{school.country}})
</ion-card-header>
      <ion-card-content color="light" style="color: white;">
        {{school.stateProvince}}<br>
        {{school.web_pages}}
      </ion-card-content> 
    </ion-card>
  </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    
  </ion-fab>
  <div id="container">
  </div>
</ion-content>
