<ion-content [fullscreen]="true">
  <div class="background">
    <ion-icon name="arrow-back-outline"(click)="goToHome()"></ion-icon>
    <h1>Insert Data</h1>
    <ion-card>
      <ion-input style="padding-left:20px" label="Game Name" placeholder="Please enter the game name"  [(ngModel)]="users.gameName" type="text" label-placement="floating" fill="solid"></ion-input>
      <ion-input style="padding-left:20px" label="Genre" placeholder="Please enter the genre of the game" [(ngModel)]="users.genre" type="text" label-placement="floating" fill="solid"></ion-input>
      <ion-input style="padding-left:20px" label="Price" placeholder="Please enter the price of the game" [(ngModel)]="users.price" type="number" label-placement="floating" fill="solid"></ion-input>
      <ion-input style="padding-left:20px" label="Quantity" placeholder="Please enter the quantity of the game" [(ngModel)]="users.quantity" type="number" label-placement="floating" fill="solid"></ion-input>
      <ion-input style="padding-left:20px" label="Date Release" placeholder="Please enter the release date of the game" [(ngModel)]="users.dateRelease" label-placement="floating" fill="solid"></ion-input>
      <!-- <ion-input style="padding-left:20px" label="Rating" placeholder="Please enter the rating of the game" [(ngModel)]="users.rating" type="number" label-placement="floating" fill="solid"></ion-input> -->
      <ion-select [(ngModel)]="users.rating">
        <div slot="label" style="padding-left:17px">Rating</div>
        <ion-select-option *ngFor="let rating of ratings" [value]="rating">{{rating}}</ion-select-option>
      </ion-select>
    </ion-card>
    <ion-toggle color="tertiary" [(ngModel)]="users.isAvailable">Available</ion-toggle><br>
    

    <ion-button color="success" (click)="inputData()">CREATE</ion-button>
</div>
</ion-content>
