<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ASSIGNMENT 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">assignment_one</ion-title>
    </ion-toolbar>
  </ion-header>
  <div style="text-align: center; font-size: 20px; margin-top: 40vh;">
  <strong>Select your preferred route navigation</strong>
  <p><ion-button href="my-custom-page/my-custom-page-with-id/1">go by link</ion-button>
  <ion-button (click)= "IDEventBtn()">go by event</ion-button></p>
  
  </div>
</ion-content>
