// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@font-face {
    font-family: "Bebas";
    src: url("../assets/fonts/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "Azonix";
    src: url("../assets/fonts/Azonix.otf");
}

@font-face {
    font-family: "OpenSauce";
    src: url("../assets/fonts/OpenSauceSans-Bold.ttf");
}

@font-face {
    font-family: "Horizon";
    src: url("../assets/fonts/horizon.otf");
}