// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

.md body{
    --ion-background-color: #87cc8a;
    --ion-text-color: #000000;
    --ion-header-color: #174119;
}