<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">signup</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
  <ion-input label="Email Address" [(ngModel)]="email" type="text" label-placement="floating" fill="solid"></ion-input>
  <ion-input label="Password" [(ngModel)]="password" type="password" label-placement="floating" fill="solid"></ion-input>
  <ion-input label="Re-Enter Password" [(ngModel)]="retypepw" type="password" label-placement="floating" fill="solid"></ion-input>
  </ion-card>
  <ion-button color="tertiary" expand="block" (click)="signingUp()">SIGN UP</ion-button>

  <p style="padding-left: 20px;">Already have an account? <a style="color: blueviolet;" href="login">Login</a></p>
</ion-content> -->

<ion-content [fullscreen]="true">
  <div class="background">
    <h1>SIGN UP</h1>
  <ion-card>
    <ion-input label="Email Address" [(ngModel)]="email" type="text" label-placement="floating" fill="solid"></ion-input>
    <ion-input label="Password" [(ngModel)]="password" type="password" label-placement="floating" fill="solid"></ion-input>
    <ion-input label="Re-Enter Password" [(ngModel)]="retypepw" type="password" label-placement="floating" fill="solid"></ion-input>
  </ion-card>
  <ion-button color="tertiary" (click)="signingUp()">Sign Up</ion-button>
  <p>Already have an account?</p>
  <ion-button color="success" (click)="alreadyHaveAcc()">Log In</ion-button>
</div>
</ion-content>

