<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">signup</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card style="color: white; font-size: 15px;">
  <ion-input style="padding-left:20px" label="Email Address" [(ngModel)]="email" type="text" label-placement="floating" fill="solid"></ion-input>
  <ion-input style="padding-left:20px" label="Password" [(ngModel)]="password" type="password" label-placement="floating" fill="solid"></ion-input>
  <ion-input style="padding-left:20px" label="Re-Enter Password" [(ngModel)]="retypepw" type="password" label-placement="floating" fill="solid"></ion-input>
  </ion-card>
  <ion-button color="tertiary" expand="block" (click)="signingUp()">SIGN UP</ion-button>
</ion-content>
