ion-card-content {
    color: white;
    text-align: center;
}

ion-card-title{
    text-align: center;
    color: #000000;
    font-size: 20px; 
    font-weight: 900; 
    font-family: Arial, Helvetica, sans-serif;
}

ion-card {
    background-color: #1fa05f;
}

