<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="header-clr">
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" class="dashboard-bg">
    <ion-item class="dashboard-bg">
    <ion-icon style="color: black;"name="log-out-outline"></ion-icon>
    <a style="text-decoration: none; color: black; padding-left: 20px;" href="login">LOGOUT</a>
  </ion-item>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="header-clr">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  
<ion-content class="dashboard-bg">
  <ion-card>
    <img alt="Developer Picture" src="/src/assets/images/andrew.jpg" />
    <ion-card-header>
      <ion-card-title style=" font-size: 27px; font-weight: 900; font-family: 'Franklin Gothic Medium';">Andrew James M. Villegas</ion-card-title>
      <ion-card-subtitle style="text-align:center; color: #174119; font-family: sans-serif;">Student, Developer</ion-card-subtitle>
    <ion-card-content>
      A BSIT 2nd year college student from Pamantasan ng Lungsod ng Valenzuela (PLV) who aspires to be the next great programmer
    </ion-card-content>
  </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Hobbies, Likes, Talents</ion-card-title>
      <ion-card-content>I can say that I have a hobby in collecting merchandises and I like listening to music in any genre, 
        playing video games which can really take my stress off. Also, I have a talent but... does making a sound like counting paper bills count?</ion-card-content>
    </ion-card-header>
    <ion-card-header>
      <ion-card-title>Me in 5 Years</ion-card-title>
      <ion-card-content>I can visualize myself already working to gain more experience in the field which can build and help me to be more knowledgeable
        and to become a good team player along with my colleagues.
      </ion-card-content>
    </ion-card-header>
    <ion-card-header>
      <ion-card-title>Strengths & Weaknesses</ion-card-title>
      <ion-card-content>Strengths: Risk-Taker, Dedicated, Flexible<br>Weaknesses: Selos, Procrastination, Multitasking
      </ion-card-content>
    </ion-card-header>
    <ion-card-header>
      <ion-card-title>Motto</ion-card-title>
      <ion-card-content>"Wag mo isipin ang HIRAP at PAGOD, isipin mo ang PANGARAP mo"
      </ion-card-content>
    </ion-card-header>
    <ion-card-header>
      <ion-card-title>Love Language</ion-card-title>
      <ion-card-content>Act of Service, Quality Time pero basta sa kanya handang iparamdam ang +99 na languages
      </ion-card-content>
    </ion-card-header>
    <ion-card-header>
      <ion-card-title>Kung Pagkain Ako</ion-card-title>
      <ion-card-content>Kung magiging pagkain man ako, Bulalo sana para mahigop niya ang aking bone
      </ion-card-content>
    </ion-card-header>
    <ion-card-header>
      <ion-card-title>Pet Peeve</ion-card-title>
      <ion-card-content>Yung nanghahampas kapag tumatawa, Smoking, Being left on seen, rude people, and more.
      </ion-card-content>
    </ion-card-header>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

