<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="text-align: center; font-size: 20px; margin-top: 30vh;">
    <strong>Welcome to Home page!<br>Please select a button</strong>
  <p><ion-button href="another-page">go by link</ion-button>
  <ion-button (click) = "goByEvent()">go by event</ion-button>
  <ion-button (click) = "goWithAuthorization()">authorize</ion-button></p>

</div>
</ion-content>
